
a:link{
	text-decoration: none;

}

.sidenav{
position: fixed;
width: 400px;
height: 16%;
left: 0px;
top: 103px;
 border:none
}
.btn{
	top:0px;
	width: 100%	;
height: 80px;
background-color: red;
 border:1px solid black;
  left:0px;
}
.logo{
	background-image: url('../img/logo.jpg');
	background-size: cover;
	background- repeat: no-repeat;
margin:5px;
	width:120px;
height: 90px;
background-color: white;
 border:1px solid black;
 top:0px;
 left:0px;
 display: inline-block;
}
.ttle{
	color: white;
	font-family:calibri;
	font-size:35px;;
	display: inline-block;
	margin-left:130px;
	top:0px;
}
.btnspan{
	

	width:62px;

	background-color:black;
	  height: 60px;
	  border-bottom:0.1px solid black;
	  margin:10px;
}
.ff{
	margin:10px;
	height:30px;
	width:30px;
display:block;
	co1or:#F00;
	background-size: cover;
	background- repeat: no-repeat;
}
.ffx{
	padding-top:5px;
	padding-left:40px;
	display:inline-block;
	font-family:calibri;
	font-size:24px;
	width:200px;
	co1or: white;
}
.side{
	position:fixed;
	background-color:#4a453f;
	display:inline-block;
	left:0px;
	width:280px;
	top:100px;
	height:100%;
}
.con{
	display:inline-block;
	 height:70px;
	width:100%;
	background-color:#4a453f;
}
.act{
	background-color:#c4c4c4;
	
}
.topbar{
	
	position:fixed;;
	background-color:#4a453f;
	display:inline-block;
	left:0px;
	width:100%;
	top:0px;
	height:100px;
}
.content{

position:fixed;;
	top:100px;
	left:300px;
	width:80%;
	height:100%;
	
	
}
.mybtn{
	font-size:22px;
	background-color:#4a453f;
padding:3px 10px 3px 10px;
border-radius:10px;
}
.mbtn2{
	padding-top:5px;
	padding-left:40px;
	display:inline-block;
	font-family:calibri;
	font-size:25px;
	width:30px;
	co1or: white;
	
}
.wrapper{
	
	width:120%;
	height:90%;
	overflow:scroll;
	 -ms-overflow-style: none;
  scrollbar-width: none;
}
.user{
	font-family:calibri;
	font-size:25px;
display:inline-block;
position: absolute;
right:20px;

top:20px;

background-color:white;
padding:3px 10px 3px 10px;
border-radius:10px;
	
}

	td{
			
		font-family:calibri;
	font-size:25px;
		background-color:#4a453f;
		
			margin:none;
	padding:10px;
	color:white;
	}
	th{
		
		font-family:calibri;
	font-size:22px;
		position:center;
		font-size:22px;
		background-color:#555;
		
			margin:none;
	padding:10px;
	color:white;
}
.pr{
		padding:5px;
	float: left;
	color:white;
	margin:0px;
	padding:0px;
	top:1px;
}
html{
	overflow:scroll;
}
.addd{
	font-family: ;
	margin:20px;
	

	padding:1px 3px 1px 3px;
	width:100%;
}
.srch{
	position:absolute;
	max-height:30px;
	width:200px;
	display:block;
	right:100px;
	top:25px;;;
	
}
.sr{
	
	display:block;
	height:50px;
	width:60px;
		background-size: cover;
	background- repeat: no-repeat;
}
.inp{
	color:white;
	padding-left:10px;
	background-color:#4a453f;
	border: none;
	border-radius:20px;
		margin-top:5px;
	margin-left:65px;
	height:40px;
	font-size:22px;
}
.add{

	display:block;
	height:50px;
	width:150px;

	co1or:#F00;
	background-image: url('../img/addb.jpg');
	background-size: cover;
	background- repeat: no-repeat;
	
}.addpt{

	display:block;
	height:50px;
	width:150px;

	co1or:#F00;
	background-image: url('../img/addp.jpg');
	background-size: cover;
	background- repeat: no-repeat;
	
}
addx{
	font-size:20px;
}
.modal1{
		font-family: calibri;
	position:fixed;
	top:150px;
	left:400px;
	background-color:#ccc;
	border:1px solid #444;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 850px;
  height:600px;
 
  	background-size: cover;
	background- repeat: no-repeat;
}
.modal2{
	font-family: calibri;
		position:fixed;
	top:150px;
	left:400px;
	background-color:#ccc;
	border:1px solid #444;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 850px;
  height:600px;
 
  	background-size: cover;
	background- repeat: no-repeat;
}
a{
	color:white;
}
.modin{
	display:inline block;
	background-color:#4a453f;	
	height:31px;
	margin-bottom:15px;
	width:400px;
	font-size:25px;
float: right;
color: white;
}

.modcontent{
	position:absolute;
	bottom:300px;
	display:block;
	height:150px;
	width:70%;
	right:150px;
font-size:25px;
}
.close{
	font-size:25px;
	padding: 5px 10px 5px 10px;
	text-align: center;
	border-radius:20px;
	display:block;
	width: 120px;
	height:30px;
	background-color:#4a453f;	
	position:absolute;
	bottom:50px;
	right:60px;
}
.ok{
	font-size:25px;
	padding: 5px 10px 5px 10px;
	text-align: center;
	border-radius:20px;
	display:block;
	width: 120px;
	height:30px;
	background-color:#4a453f;	
	position:absolute;
	bottom:50px;
	right:210px;
}

